body {
  margin: 0;
  background: #111;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 10px;
}

canvas {
  background: #000;
  border: 2px solid #555;
}

#info {
  margin-top: 8px;
  font-size: 14px;
  color: #ccc;
}
